* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F2F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.login-section {
    align-items: center;
    background-color: rgb(245, 245, 245);
    display: flex;
    height: 100vh;
    padding: 48px 0px;
}

.login-container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 2px 0px, rgba(0, 0, 0, 0.02) 0px 1px 6px -1px, rgba(0, 0, 0, 0.02) 0px 2px 4px 0px;
    margin: 0px auto;
    padding: 32px;
    width: 360px;
}