.banner-content {
    .banner-content-title {
        font-size: 2.5rem;
    }
}

.service-item {
    .img-box {
        margin: 0 auto;
        height: 85px;
        width: 90px;

        img {}
    }
}